@-webkit-keyframes buttonPulse {
    from { background-color: #35caff; -webkit-box-shadow: 0 0 9px #333; }
    50% { background-color: #1cd2ee; -webkit-box-shadow: 0 0 18px #a6f1ff; }
    to { background-color: #35caff; -webkit-box-shadow: 0 0 9px #333; }
}

@-webkit-keyframes controlBoxPulse {
    from { background-color: #0e0d1d; -webkit-box-shadow: 0 0 9px #333; }
    50% { background-color: #0e0d1d; -webkit-box-shadow: 0 0 18px #a6f1ff; }
    to { background-color: #0e0d1d; -webkit-box-shadow: 0 0 9px #333; }
}

/* DEFAULT TAGS */
button {
    -webkit-animation-name: buttonPulse;
    -webkit-animation-duration: 2s;
    -webkit-animation-iteration-count: infinite;

    width: 200px;
    height: 40px;
    text-align: center;
    border-color: transparent;
    border-radius: 10px;
    margin-top: 25px;
    font-family : "Arial Black", Gadget, sans-serif;
}

body {
    font-family : "Arial Black", Gadget, sans-serif;
}

html {
    background-image: url("/images/backgrounds/delta_halo.jpg");
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

ul {
    list-style-type: none;
    padding: 0px;
    margin: 0px;
}

/* CLASSES */
.back-button {
    display: block;
    text-align: center;
    padding-left: 0;
    padding-right: 0;
}

.control-change-key-box {
    text-align: center;
    font-size: inherit;
    font-family: inherit;
    outline: none;
    resize : none;
    border: none;
    overflow: auto;
    background-color: #0e0d1d;
    color: #35CAFF;
    height: 25px;
    width: 150px;
}

.control-change-key-box:focus {
    -webkit-animation-name: controlBoxPulse;
    -webkit-animation-duration: 2s;
    -webkit-animation-iteration-count: infinite;
}

.controls-label {
    margin-top: 35px;
}

.controls-box {
    margin-top: 23px;
}

.controls-box :hover {
    color: #ffab0f;
}

.controls-box :focus{
    color: #ffab0f;
}

.float-left {
    float: left;
}

.float-right {
    float: right;
}

.screen {
    margin-top: 50px;
    padding-left: 0;
    padding-right: 0;
    margin-left: auto;
    margin-right: auto;
    display: block;
    width: 1000px;
    height: 800px;


    overflow: auto;
    background-color: #0e0d1d;
    border: 4px solid #35CAFF;
    border-top-left-radius: 10px;
    border-bottom-right-radius: 10px;

    display: none;
}

.screen.active {
    display: block;
}

/* ID'S */

#menu-list {
    display: block;
    margin-left: auto;
    margin-right: auto;
    padding-left: 0;
    padding-right: 0;
    padding-top: 80px;
    text-align: center;
}

#menu-title-image {
    width: 60%;
    display: block;
    margin-left: auto;
    margin-right: auto;
    padding-left: 0;
    padding-right: 0;
    padding-top: 100px;
}

#control-title{
    text-align: center;
    color: #35CAFF;
    padding-top: 43px;
    margin-bottom: 5px;
}

#controls-label-list {
    color: #35CAFF;
    margin-left: 200px;
    margin-top: 50px;
}

#controls-box-list {
    margin-right: 200px;
    margin-top: 49px;
}

#controls-back {
    position: relative;
    top: 500px;
    left: 89px;
}

#controls-bind-text {
    color: #a6f1ff;
    text-align: center;
    visibility: hidden;
}

#highScores-back {
    position: relative;
    top: 80px;
    left: 415px;
}

#credits-back {
    position: relative;
    top: 500px;
    left: 415px;
}

#highScores-title {
    width: 250px;
    position: relative;
    left: 398px;
    color: #35CAFF;
    padding-top: 43px;
    margin-bottom: -65px;
}

#highScores-divList{
    position: relative;
    top: 55px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: -22px;
    text-align: left;
}

#highScores-divList li{
    font-size: 20px;
    padding-top: 21px;
    color: #35caff;
    text-align: center;
}

#highScores-divList ol{
    list-style: none;
}

#credits-title {
    color: #35CAFF;
    text-align:center;
    margin-top: 43px;
    margin-bottom: 43px;
}

#credits-cb {
    color: #ffab0f;
    text-align: center;
}

#bgh, #srh{
    margin-left : auto;
    margin-right: auto;
    width: 400px;
    font-size: 30px;
}

#jdm {
    margin-left:auto;
    margin-right:auto;
    width:auto;
    clear:both;
    font-size:25px;
}

.name {
    color: #a6f1ff;
    text-align: center;
}

#credits-whb {
    color: #ffab0f;
    clear:both;
    text-align:center;
    margin-top: 110px;
    margin-bottom: 43px;
}

#credits-spt {
    color:#ffab0f;
    text-align:center;
    margin-top: 60px;
    margin-bottom: 24px;
}

#credits-and{
    color:#ffab0f;
    text-align:center;
}

#credits-343-image{
    display: block;
    margin-left: auto;
    margin-right: auto;
    padding-left: 0;
    padding-right: 0;
}

#credits-source-list{
    color: #35caff;
    text-align: center;
}