<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="UTF-8">
    <title>Tetris</title>
    <script type="text/javascript" src = "http://code.jquery.com/jquery-latest.min.js"></script>
    <script src="../scripts/modernizr.js"></script>
    <script src="../scripts/loader.js"></script>
    <link rel="stylesheet" type="text/css" href="../style/style.css">
</head>
<body>
    <div id="main">
        <div id="menu" class="screen">
            <img id="menu-title-image" src="../images/title.png" alt="Halo Tetris">
            <ul id="menu-list">
                <li><button id="menu-button-newGame">New Game</button></li>
                <li><button id="menu-button-highScores">High Scores</button></li>
                <li><button id="menu-button-controls">Controls</button></li>
                <li><button id="menu-button-credits">Credits</button></li>
            </ul>
        </div>
        <div id="game" class="screen">
            <canvas id="canvas" width="995" height="795"></canvas>
        </div>
        <div id="highScores" class="screen">
            <h1 id="highScores-title">HIGH SCORES</h1>
            <div id="highScores-divList" class="flash">
                <ol id="highScores-list">

                </ol>
            </div>
            <button id="highScores-back" class="back-button">Back</button>
        </div>
        <div id="controls" class="screen">
            <h1 id="control-title">CONTROLS</h1>
            <div id="controls-bind-text"><< Press any key to bind! >></div>
            <div class="float-left">
                <ul id="controls-label-list">
                    <li class="controls-label">Move Left</li><br/>
                    <li class="controls-label">Move Right</li><br/>
                    <li class="controls-label">Rotate Left</li><br/>
                    <li class="controls-label">Rotate Right</li><br/>
                    <li class="controls-label">Soft Drop</li><br/>
                    <li class="controls-label">Hard Drop</li>
                </ul>
            </div>
            <div class="float-right">
                <ul id="controls-box-list">
                    <li class="controls-box"><textarea id="left-control" class="control-change-key-box" onfocus="TETRIS.screens['controls'].showBindText()"  onblur="TETRIS.screens['controls'].hideBindText()" readonly></textarea></li><br/>
                    <li class="controls-box"><textarea id="right-control" class="control-change-key-box" onfocus="TETRIS.screens['controls'].showBindText()"  onblur="TETRIS.screens['controls'].hideBindText()" readonly></textarea></li><br/>
                    <li class="controls-box"><textarea id="left-rotate-control" class="control-change-key-box" onfocus="TETRIS.screens['controls'].showBindText()"  onblur="TETRIS.screens['controls'].hideBindText()" readonly></textarea></li><br/>
                    <li class="controls-box"><textarea id="right-rotate-control" class="control-change-key-box" onfocus="TETRIS.screens['controls'].showBindText()"  onblur="TETRIS.screens['controls'].hideBindText()" readonly></textarea></li><br/>
                    <li class="controls-box"><textarea id="soft-drop-control" class="control-change-key-box" onfocus="TETRIS.screens['controls'].showBindText()"  onblur="TETRIS.screens['controls'].hideBindText()" readonly></textarea></li><br/>
                    <li class="controls-box"><textarea id="hard-drop-control" class="control-change-key-box" onfocus="TETRIS.screens['controls'].showBindText()"  onblur="TETRIS.screens['controls'].hideBindText()" readonly></textarea></li>
                </ul>
            </div>
            <button id="controls-back" class="back-button">Back</button>
        </div>
        <div id="credits" class="screen">
            <h1 id="credits-title">CREDITS</h1>
            <h2 id="credits-cb">CREATED BY</h2>
            <div class="float-left">
                <div class="name" id="bgh">Brenton Hawley</div>
            </div>
            <div class="float-right">
                <div class="name" id="srh">Shaun Hawley</div>
            </div>
            <h3 id="credits-whb">WITH HELP FROM</h3>
            <div class="name" id="jdm">Dr. Dean Mathias</div>
            <h4 id="credits-spt">SPECIAL THANKS TO</h4>
            <img id="credits-343-image" src="../images/343_logo.png" alt="343 Industries">
            <h4 id="credits-and">AND</h4>
            <ul id="credits-source-list">
                <li>http://zurb.com/playground/radioactive-buttons</li>
                <li>http://teambeyond.net/forum/topic/6661-halo-sound-effects-and-image-packages/</li>
                <li>http://spritedatabase.net/file/508</li>
                <li>http://www.soundjay.com</li>
                <li>http://pixshark.com</li>
            </ul>

            <!--<button id="credits-back" class="back-button">Back</button>-->
        </div>
    </div>
</body>
</html>